

.nav{
    display: flex;
    background-color: black;
    top: 0;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
    text-decoration: none; 
}

.link{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.link:hover{
    color: rgb(211, 205, 196);
}